.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    top: var(--header-height);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.paint-canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    opacity: 0.7;
}

.ink-counter {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: #fff;
    backdrop-filter: blur(5px);
    z-index: 10000;
    transition: background-color 0.3s ease;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.background-01, .background-02, .phone-01, .phone-02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.background-01.active, .background-02.active, .phone-01.active, .phone-02.active {
    opacity: 1;
}

/* Media Queries */
@media (max-width: 768px) {
    .custom-cursor {
        width: 48px;
        height: 48px;
    }

    .ink-counter {
        display: none;
    }
}