.work-showcase {
    position: relative;
    width: 90%;
    max-width: 1400px;
    z-index: 2;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: rgba(30, 30, 30, 0.4); /* Semi-transparent background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-item {
    width: 100%;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 20px;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.2); /* Semi-transparent background */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-image {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-user-select: none; /* Disable selection for Webkit browsers */
    -moz-user-select: none; /* Disable selection for Firefox */
    -ms-user-select: none; /* Disable selection for IE/Edge */
    user-select: none; /* Disable selection for modern browsers */
    opacity: 0.9;
}

.work-item:hover .work-image {
    transform: scale(1.05);
    opacity: 0.25;
}

.work-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background: rgba(44, 44, 44, 0.85); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.work-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.work-description {
    font-size: 1.2rem;
    opacity: 0.9;
    max-width: 80%;
    text-align: center;
}

@media (min-width: 769px) {
    .work-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), transparent);
    }

    .work-item:hover .work-info {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .work-showcase {
        width: 95%;
    }

    .work-item {
        position: static;
    }

    .work-image {
        width: 100%;
        height: auto;
    }

    .work-info {
        position: static;
        transform: translateY(0) !important;
        background: rgba(44, 44, 44, 0.85);
        padding: 1rem;
        margin-top: 0;
        border-radius: 0 0 20px 20px;
        width: 100%;
    }

    .work-title {
        font-size: 2rem;
    }

    .work-description {
        font-size: 1rem;
    }
}
